@import './../common/styles/sass/variables';

.header {
  width: 100%;
  background-color: $bgSecondColor;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  align-items: center;
  z-index: 4;
  top: 0;
  box-sizing: border-box;

}

.navBlock {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}