
.contactsBlock {
    background-color: cadetblue;
    min-height: 40vh;
}

.container {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: darksalmon;
}

.submitBtn {
    padding: 10px 20px;
    background-color: deepskyblue;
}

.contactsForm {
    width: 50%;
    background-color: firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsForm input, .contactsForm textarea {
    width: 100%;
}


@media screen and (max-width: 825px) {
    .contactsForm {
        width: 90%;
    }
}


/* margin-bottom: 15px;


/*@media (min-width: 360px) {*/
/*    .contactsBlock {*/
/*        height: 40vh;*/
/*    }*/
/*    .contacts {*/
/*        width: 150px;*/
/*    }*/
/*}*/