.contactsBlock {
    background-color: cadetblue;
    height: 100vh;
}


.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: darksalmon;
}

.contacts {
    border: 1px solid;
    padding-bottom: 15px;
    min-width: 350px;
}