@import './../common/styles/sass/variables';
@import './../button/Button.module';

.contactsBlock {
  background-color: $bgSecondColor;
  min-height: 40vh;

  button[type="submit"] {
    @extend .btn;
    align-self: center;
    background-color: transparent;
    margin-top: 20px;
  }

  .container {
    flex-direction: column;
    justify-content: space-between;
  }
}

