.contactsBlock {
    background-color: cadetblue;
    height: 100vh;
}

.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-color: darksalmon;
}

.contacts {
    border: 1px solid;
    padding-bottom: 15px;
    width: 450px;
}

@media (min-width: 360px) and (max-width: 390px) {
    .contactsBlock {
        height: 40vh;
    }
    .contacts {
        width: 200px;

    }
}