.container {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.padding {
    padding: 55px 0;
}

@media (min-width: 360px) and (max-width: 390px)  {
    .padding {
        padding: 10px 0;
    }
}

