.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.padding {
  padding: 55px 0;
  position: relative;
}

@media (min-width: 360px) and (max-width: 460px) {
  .padding {
    padding: 45px 0;
  }
}

