@import './../../styles/sass/variables';
@import './../../styles/sass/mixins';

.title {
  @include text($TitleFontFamily,300,40px,1.2);
  letter-spacing: 0;
  line-height: 1.15789em;
  word-wrap: break-word;
  position: relative;

  & h2 {
    margin: 0 0 1rem;
  }

  //&::before {
  //  content: "";
  //  position: absolute;
  //  background-color: #3f4551;
  //  width: 170px;
  //  height: 2px;
  //  bottom: -2rem;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}

  &::after {
    content: "";
    position: absolute;
    background-color: $mainTextColor;
    width: 55px;
    height: 2px;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

