@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.container {
  background-color: $bgSecondColor;
  width: 220px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 518px) {
    width: 140px;
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    .imgContainer {
      height: 250px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include image(cover,center,repeat);
      position: relative;
      @media screen and (max-width: 518px) {
        height: 160px;
      }
      .btnDemo {
        z-index: 9999;
        text-decoration: none;
        border: 1px solid $secondTextColor;
        outline: 0;
        transition: .25s;
        text-transform: uppercase;
        padding: 0.4rem 0.75rem;
        cursor: pointer;
        color: $secondTextColor;
        &:hover {
          background-color: #252527FF;
        }
      }
      &::before {
        position: absolute;
        content: "";
        background-color: black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.1;
      }
    }
  }

  .myProject {
    margin: 15px;

    .titleProject {
      @include text($TitleFontFamily,400,16px,1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($TextFontFamily,400,12px,1.8);
    }
  }
}

