@import './../../common/styles/sass/variables';


.navbar {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $primaryColor;

        }
    }
    .active {
        color: $primaryColor;
        font-weight: bold;
    }
    @media screen and (max-width: 466px) {
    display: none;
    }
}


