.sendBtn {
    background-color: darksalmon;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px silver;
}

.ads {
    background-color: gold;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px silver;
}