@import './variables';

@mixin text($fontFamily,$fontWeight,$fontSize,$lineHeight) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin image($backgroundSize,$backgroundPosition,$backgroundRepeat) {
  background-size: $backgroundSize;
  background-position: $backgroundPosition;
  background-repeat: $backgroundRepeat;
}

@mixin textPosition($display, $justifyContent, $flexWrap) {
  display: $display;
  justify-content: $justifyContent;
  flex-wrap: $flexWrap;
  background-color: $bgColor;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}