@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.footer {
  background-color: $bgColor;
}

.padding {
  padding: 25px 0 15px 0;
}

.footerContainer {
  flex-direction: column;
  justify-content: flex-start;

}


.title {
  @include text($TitleFontFamily, 400, 25px, 1.2);
  letter-spacing: 0;
  line-height: 1.15789em;
  color: white
}

.socialIcons {
  width: 250px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.socialIcon {
  width: 50px;
  height: 50px;
  background-color: silver;
}

/*.margin {*/
/*    margin: 0 auto;*/
/*}*/

.icon {
  width: 25px;
  height: 25px;
}

/*.footer_text {*/
/*    display: flex;*/
/*}*/

/*@media (min-width: 360px) and (max-width: 390px)  {*/
/*    .displayBlock {*/
/*        width: 250px;*/
/*    }*/
/*}*/