.mainBlock {
    min-height: 30vh;
    background-color: burlywood;
}

.distantContainer {
    flex-direction: column;
}

.title {
    background-color: darkkhaki;
}
.text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.button {
    padding: 12px 5px;
    background-color: peachpuff;
    border-radius: 8px;
}
