.projectsBlock {
    height: 100vh;
    background-color: darkgoldenrod;
}

.title {
    background-color: coral;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 85px
}